body {
    font-family: "Poppins", sans-serif;
}

/* Common-style */
.primary-color {
    color: #FF0000;
}

.primary-button {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    background-color: #FF0000;
    color: white;
    border: none;
    border-radius: 6px;
}

/* Head-section */

.header-background {
    background-image: url(images/Banner\ Image.png);
    width: 1320px;
    height: 600px;
    background-size: cover;
    position: relative;
}

.header-texts {
    color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    /* top: 150px; */
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    z-index: 1;

}

.header-texts h3 {
    font-size: 40px;
    font-weight: 400;
    margin-top: 150px;

}

.header-texts h1 {
    font-size: 95px;
    font-weight: 600;
    margin: 0;
    line-height: 1em;
}

/* Offer-section */
.offer-section {
    height: 700px;
    width: 802px;
    text-align: center;
    margin: 50px 265px;
}

.offer-text h1 {
    font-size: 82px;
    margin: 0;
}

.offer-text p {
    font-size: 22px;
    margin-bottom: 15px;
    margin-top: 0;
}

.offer-text h3 {
    font-size: 42px;
    margin-top: 0;
}

.offer-section img {
    width: 600px;

}

/* midnight-billboard-section */
.midnight-billboard-section {
    background-image: url(images/Vectorrr.png);
    width: 1320px;
    height: 600px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}


.midnight-billboard-section img {
    width: 300px;
}

.width-billboard-text {
    width: 40%;
    margin: 0 auto;
    color: white;
}

.billboard-text h1 {
    font-size: 50px;
    margin-bottom: 0;
    margin-top: 10px;
}

.billboard-text p {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px;
}

.billboard-text button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 700;
    border: none;
    border-radius: 6px;
    margin-top: 20px;

}

/* Destination-Part */
.destination-part {
    background-image: linear-gradient(rgba(255, 0, 0, 0.07), rgba(255, 0, 0, 0.07));
    width: 1320px;
    /* height: 482px; */
    text-align: center;
    border-radius: 20px;
    margin-bottom: 50px;

}

.destination-text {
    padding: 120px 0;
}

.destination-text h2 {
    font-size: 24px;
    font-weight: 600;
}

.destination-text>button {
    margin-top: 20px;
}

/* bonus-part */
.bonus-part {
    margin-bottom: 50px;
    padding: 25px 0;
    width: 1320px;

}

.bonus-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.coming-soon {
    width: 33%;
}

.coming-soon h5 {
    font-size: 22px;
    font-weight: 500;
    margin: 0;
}

.coming-soon h2 {
    font-size: 30px;
    margin-top: 10px;
}

.coming-soon p {
    font-weight: 300;
}

.bonus-container>img {
    width: 22%;
    padding: 20px;
    border: 10px solid red;
    border-radius: 50%;
}

.img-with-text {
    width: 33%;
}

.img-with-text h2 {
    font-size: 30px;
}

.img-with-text p {
    font-weight: 300;
}